

.header{
    text-align:center;
    font-size:38px;
    color:white;
   
}

body{

    background-size:contain;
    background-color:#3AAFA9;
    display:flex;
    justify-content:center;
    flex-direction:column;
   
 
}
 

h4{
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size:45px;
    color:white;
    
}



p {
    
   
    width: 500px;
    border: 4px solid black;
    border-radius:16px;
    padding:35px;
    margin:20px;
    margin-left:400px;
    box-shadow: 10px 10px 10px black;
    font-size: 30px;
    
 
}

h4:hover{
    font-size:50px;
} 
